<div class="card" *ngIf="role === 'USER' || role === 'CONSULT' || role === 'ADMIN'">
    <p-table #dt1 [columns]="cols" [value]="analyseResult" dataKey="id" [rows]="50" [rowHover]="true" styleClass="p-datatable-gridlines"  [globalFilterFields]="['']" responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Geology / Layer
                    </div>
                </th>
                <th style="min-width: 4rem">
                    <div class="flex justify-content-between align-items-center">
                        Depth From
                    </div>
                </th>
                <th style="min-width: 4rem">
                    <div class="flex justify-content-between align-items-center">
                        Depth To
                    </div>
                </th>
                <th style="min-width: 4rem">
                    <div class="flex justify-content-between align-items-center">
                        Real Volume
                    </div>
                </th>
                <th style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Observation
                    </div>
                </th>
                <th style="min-width: 4rem">
                    <div class="flex justify-content-between align-items-center">
                        Sample Status
                    </div>
                </th>
                <th style="min-width: 8rem" *ngFor="let col of elementList">
                    <div class="flex justify-content-between align-items-center">
                        {{col}}
                    </div>
                </th>
                
                
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-resultatAnalyse let-columns="columns">
            <tr>
                <td>
                    {{resultatAnalyse.echantillon.geologie.couche.coucheCode}}
                </td>
                <td>
                    {{resultatAnalyse.echantillon.depthFrom}}
                </td>
                <td>
                    {{resultatAnalyse.echantillon.depthTo}}
                </td>
                <td>
                    <!-- {{echantillon.observation}} -->
                    {{resultatAnalyse.echantillon.puissanceReelle}}
                </td>
                <td>
                    {{resultatAnalyse.echantillon.observation}}
                </td>
                <td>
                    {{resultatAnalyse.echantillon.etatEchantillon}}
                </td>
                <td *ngFor="let col of resultatAnalyse.analyseList">
                    {{col.valeurAnalyse}}
                </td>
                </tr>
                </ng-template>
                
                </p-table>
    
</div>
