<p-toast></p-toast>
<p-button label="Retour To Archives" icon="pi pi-arrow-left" iconPos="left" (click)="retourToArchive()"></p-button>
<div class="card">
    <h5>Receipt Management</h5>
    <p-table #dt1 [value]="bordereaux" [(selection)]="selectedBordereau" dataKey="bordereauId" [rows]="50" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['archiveLibelle','archiveDate','archiveType']" responsiveLayout="scroll">
        
        <ng-template pTemplate="caption" >
            <div class="flex justify-content-between flex-column sm:flex-row">
                    <div class="flex gap-2">
                    <button pButton label="Send to Archive" class="p-button-outlined mb-2" icon="pi pi-save" (click)="openDialogArchive()" [disabled]="buttonSendCondition()" *ngIf="!modeArchive"></button>
                    <button pButton label="Export" class="p-button-outlined mb-2" icon="pi pi-file-excel" (click)="exportExcel()" ></button>
                    </div>
                    <div>
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i> 
                    <input pInputText type="text" #filter  placeholder="Search Keyword" class="w-full"/> 
                </span>
            </div>
            </div>
        </ng-template> 
        
        <ng-template pTemplate="header" >
            
            <tr>
                <th style="width: 4rem" *ngIf="!modeArchive">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Bordereau Code
                    </div>
                </th>
                <th style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Sending Date
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-content-between align-items-center">
                        Asked Analysis
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-content-between align-items-center">
                        Requirements
                    </div>
                </th>
                <th style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Urgency
                    </div>
                </th>
                <th style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Receipt Status
                    </div>
                </th>
                <th style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Reception Date
                    </div>
                </th>
                
                
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bordereau>
            
            <tr>
                <td *ngIf="!modeArchive">
                    <p-tableCheckbox [value]="bordereau" ></p-tableCheckbox>
                    </td>
                <td>
                    {{bordereau.bordereauCode}}
                </td>
                <td>
                    {{bordereau.dateEnvoi | date : 'dd/MM/yyyy'}}
                </td>
                <td>
                    {{bordereau.analyseDemande}}
                </td>
                <td>
                    {{bordereau.exigences}}
                </td>
                <td>
                    {{bordereau.urgences}}
                </td>
                <td>
                    {{bordereau.etatsBordereaux}}
                </td>
                <td>
                    {{bordereau.dateReception | date : 'dd/MM/yyyy'}}
                </td>
                
                <td>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteNew(bordereau)" *ngIf="!modeArchive"></button>
                </td>
                
                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No Element/s found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- delete bordereau -->
<p-dialog [(visible)]="deleteDialog" [style]="{width: '450px'}" header="Archive Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" let-gisement>
       <div>
        Are u sure want to delete this archive
       </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog2()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="deleteBordereau()"></button>
    </ng-template>
</p-dialog>


<!-- update bordereau 'archive bordereau'-->
<p-dialog [(visible)]="archiveDialog" [style]="{width: '450px'}" header="Archive Detail" [contentStyle]="{overflow: 'unset'}" [draggable]=false [resizable]=false [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" let-bordereau style="overflow-y: unset !important">
        <div class="field" >
            <label for="libelle" >Archive</label>
            
                <p-dropdown [(ngModel)]="currentArchive" inputId="archive" [options]="filterArchives!" placeholder="Select" optionLabel="archiveLibelle" >
                </p-dropdown>
            
            <!-- <small class="p-error" *ngIf="submitted && !currentBordereau.archive">Libelle is required.</small> -->
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog1()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateBordereau()"></button>
    </ng-template>
</p-dialog>