<p-toast></p-toast>
<p-button label="Retour To Archives" icon="pi pi-arrow-left" iconPos="left" (click)="retourToArchive()" *ngIf="modeArchive  && profile ==='GEOLOGIE' && (role === 'USER' || role === 'CONSULT' || role === 'ADMIN')"></p-button>
<app-detail-point *ngIf="detailPointON===true" [point]="selectedPoint" class="d-flex"></app-detail-point>

<!-- table -->
<div class="col-12" *ngIf="detailPointON===false && (role === 'USER' || role === 'CONSULT' || role === 'ADMIN')">
    <div class="card">
        <h5>Points Management</h5>
        <p-table #dt1 [value]="points" dataKey="pointId" [(selection)]="selectedPoints" [rows]="50" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['']" responsiveLayout="scroll">
            
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <div class=" d-flex gap-2" style="display: flex !important;" >
                        <button pButton label="Add" class="p-button-outlined mb-2" icon="pi pi-plus" (click)="openNew()" *ngIf="!modeArchive && (role === 'USER' || role === 'ADMIN')"></button>
                        <button pButton label="Export" class="p-button-outlined mb-2" icon="pi pi-file-excel" (click)="exportExcel()" *ngIf="!modeArchive"></button>

                    </div>
                    <div class=" d-flex gap-2" style="display: flex !important;">
                        <button pButton label="Send to Archive" id="archiveButton" class="p-button-outlined mb-2" icon="pi pi-save"
                            (click)="openArchivePoint()" [disabled]="buttonCondition()" *ngIf="!modeArchive"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword"
                                class="w-full" />
                        </span>
                    </div>
                </div>
            </ng-template>
            
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem" *ngIf="!modeArchive">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Id
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Hole Id
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            X
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                        <div class="flex justify-content-between align-items-center">
                            Y
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                        <div class="flex justify-content-between align-items-center">
                            Z
                        </div>
                    </th>
                    <th style="min-width: 10rem">
                        <div class="flex justify-content-between align-items-center">
                            Take on consideration
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-point>
                <tr>
                    <td *ngIf="!modeArchive">
                        <p-tableCheckbox [value]="point" ></p-tableCheckbox>
                    </td>
                    <td>
                            {{point.pointId}}
                    </td>
                    <td>
                        {{point.holeId}}
                    </td>
                    <td>
                        {{point.x}}
                    </td>
                    <td>
                        {{point.y}}
                    </td>
                    <td>
                        {{point.z}}
                    </td>
                    <td>
                        <p-checkbox [(ngModel)]="point.exportGis" [binary]="true" inputId="binary" [disabled]="true"></p-checkbox>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editPoint(point)" *ngIf="!modeArchive &&(role === 'USER'  || role === 'ADMIN')"></button> 
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePoint(point)" *ngIf="!modeArchive && (role === 'ADMIN')"></button>
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info" (click)="showPointById(point)"></button>
                    </td>
                    
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No point/s found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

    <p-dialog [(visible)]="addDialog" [style]="{width: '450px'}" header="Gisement Detail" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content" let-gisement>
            <div class="field">
                <label for="code">Hole Id</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.holeId" required autofocus maxlength="10" />
                <small class="p-error" *ngIf="submitted && !newPoint.holeId">Code is required.</small>
            </div>
            <div class="field">
                <label for="libelle">X</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.x" required  />
                <small class="p-error" *ngIf="submitted && !newPoint.x">Libelle is required.</small>
            </div>
            <div class="field">
                <label for="libelle">Y</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.y" required  />
                <small class="p-error" *ngIf="submitted && !newPoint.y">Libelle is required.</small>
            </div>
            <div class="field">
                <label for="libelle">Z</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.z" required  />
                <small class="p-error" *ngIf="submitted && !newPoint.z">Libelle is required.</small>
            </div>
            <div class="field">
                <label for="secteur">Systeme Coordonnes</label>
                <p-dropdown [(ngModel)]="newPoint.systemeCoordonnees" inputId="secteur" [options]="systemeCordonnees!" placeholder="Select">
                    <ng-template let-option pTemplate="item">
                        <span [class]="option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && !newPoint.systemeCoordonnees">Secteur is required.</small>
            </div>
            <div class="field">
                <label for="libelle">X Converted</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.xc" required  />
                <small class="p-error" *ngIf="submitted && !newPoint.xc">Libelle is required.</small>
            </div>
            <div class="field">
                <label for="libelle">Y Converted</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.yc" required  />
                <small class="p-error" *ngIf="submitted && !newPoint.yc">Libelle is required.</small>
            </div>
            <div class="field">
                <label for="libelle">Z Converted</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.zc" required  />
                <small class="p-error" *ngIf="submitted && !newPoint.zc">Libelle is required.</small>
            </div>
            <div class="field">
                <label for="libelle">Dip</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.dip" required  />
                <small class="p-error" *ngIf="submitted && !newPoint.dip">Libelle is required.</small>
            </div>
            <div class="field">
                <label for="libelle">Azimut</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.azimut" required  />
                <small class="p-error" *ngIf="submitted && !newPoint.azimut">Libelle is required.</small>
            </div>
            <div class="field">
                <label for="libelle">Depth Max</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.depthMax" required  />
                <small class="p-error" *ngIf="submitted && !newPoint.depthMax">Libelle is required.</small>
            </div>
            <div class="field">
                <label for="libelle">Niveau Pizometrique</label>
                <input type="text" pInputText id="code" [(ngModel)]="newPoint.niveauPizometrique" required  />
                <small class="p-error" *ngIf="submitted && !newPoint.niveauPizometrique">Libelle is required.</small>
            </div>
            <div class="field">
                <label for="libelle">Export Gis</label>
                <br>
                <p-checkbox [(ngModel)]="newPoint.exportGis" [binary]="true" inputId="binary"></p-checkbox>
             </div>
            <div class="field">
                <label for="secteur">Point Type</label>
                <p-dropdown [(ngModel)]="newPoint.pointType" inputId="secteur" [options]="typePoint!" placeholder="Select" >
                    <ng-template let-option pTemplate="item">
                        <span [class]="option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && !newPoint.pointType">Secteur is required.</small>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="addPoint()"></button>
        </ng-template>
</p-dialog>



<p-dialog [(visible)]="updateDialog" [style]="{width: '450px'}" header="Gisement Detail" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" let-gisement>
        <div class="field">
            <label for="code">Hole Id</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.holeId" required autofocus />
            <small class="p-error" *ngIf="submitted && !currentPoint.holeId">Code is required.</small>
        </div>
        <div class="field">
            <label for="libelle">X</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.x" required  />
            <small class="p-error" *ngIf="submitted && !currentPoint.x">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Y</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.y" required  />
            <small class="p-error" *ngIf="submitted && !currentPoint.y">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Z</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.z" required  />
            <small class="p-error" *ngIf="submitted && !currentPoint.z">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="secteur">Systeme Coordonnes</label>
            <p-dropdown [(ngModel)]="currentPoint.systemeCoordonnees" inputId="secteur" [options]="systemeCordonnees!" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !currentPoint.systemeCoordonnees">Secteur is required.</small>
        </div>
        <div class="field">
            <label for="libelle">X Converted</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.xc" required  />
            <small class="p-error" *ngIf="submitted && !currentPoint.xc">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Y Converted</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.yc" required  />
            <small class="p-error" *ngIf="submitted && !currentPoint.yc">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Z Converted</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.zc" required  />
            <small class="p-error" *ngIf="submitted && !currentPoint.zc">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Dip</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.dip" required  />
            <small class="p-error" *ngIf="submitted && !currentPoint.dip">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Azimut</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.azimut" required  />
            <small class="p-error" *ngIf="submitted && !currentPoint.azimut">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Depth Max</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.depthMax" required  />
            <small class="p-error" *ngIf="submitted && !currentPoint.depthMax">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Niveau Pizometrique</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentPoint.niveauPizometrique" required  />
            <small class="p-error" *ngIf="submitted && !currentPoint.niveauPizometrique">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Export Gis</label>
            <p-inputSwitch [(ngModel)]="currentPoint.exportGis" ></p-inputSwitch>
    </div>
        <div class="field">
            <label for="secteur">Point Type</label>
            <p-dropdown [(ngModel)]="currentPoint.pointType" inputId="secteur" [options]="typePoint!" placeholder="Select" >
                <ng-template let-option pTemplate="item">
                    <span [class]="option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !currentPoint.pointType">Secteur is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog2()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updatePoint(currentPoint)"></button>
    </ng-template>
</p-dialog>



<p-dialog [(visible)]="deleteDialog" [style]="{width: '450px'}" header="Gisement Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" let-gisement>
       <div>
        Are u sure want to delete this gisement
       </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog2()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="confirmDeleteGisement()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="openArchiveModal" [style]="{width: '450px'}" header="Archive Detail" [contentStyle]="{overflow: 'unset'}" [draggable]=false [resizable]=false [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" let-bordereau style="overflow-y: unset !important">
        <div class="field" >
            <label for="libelle" >Archive</label>
            
                <p-dropdown [(ngModel)]="currentArchive" inputId="archive" [options]="filterArchives!" placeholder="Select" optionLabel="archiveLibelle" >
                </p-dropdown>
            
            <!-- <small class="p-error" *ngIf="submitted && !currentBordereau.archive">Libelle is required.</small> -->
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialogArchive()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="archivePoint()"></button>
    </ng-template>
</p-dialog>