<div class="retour">
<button pButton pRipple icon="pi pi-eye" class="" (click)="retour()"></button>
</div>        

<div class="d-flex" >
                <p-tabView [(activeIndex)]="Tabindex">
                    <p-tabPanel header="Sample details" leftIcon="pi pi-bell" >
            
                        <div class="card">
                            <p-table #dt1 [value]="echantillons" dataKey="id" [rows]="50" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['geologie.couche.coucheCode']" responsiveLayout="scroll">
        
    
    
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="min-width: 8rem">
                                            <div class="flex justify-content-between align-items-center">
                                                Geology / Layer
                                            </div>
                                        </th>
                                        <th style="min-width: 4rem">
                                            <div class="flex justify-content-between align-items-center">
                                                Depth From
                                            </div>
                                        </th>
                                        <th style="min-width: 4rem">
                                            <div class="flex justify-content-between align-items-center">
                                                Depth To
                                            </div>
                                        </th>
                                        <th style="min-width: 4rem">
                                            <div class="flex justify-content-between align-items-center">
                                                Real Volume
                                            </div>
                                        </th>
                                        <th style="min-width: 8rem">
                                            <div class="flex justify-content-between align-items-center">
                                                Observation
                                            </div>
                                        </th>

                                        <th style="min-width: 4rem">
                                            <div class="flex justify-content-between align-items-center">
                                                Sample Status
                                            </div>
                                        </th>
                                        
                                        
                                       
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-echantillon>
                                    <tr>
                                        <td>
                                            {{echantillon.geologie.couche.coucheCode}}
                                        </td>
                                        <td>
                                            {{echantillon.depthFrom}}
                                        </td>
                                        <td>
                                            {{echantillon.depthTo}}
                                        </td>
                                        <td>
                                            {{echantillon.puissanceReelle}}
                                        </td>
                                        <td>
                                            {{echantillon.observation}}
                                        </td>
                                        <td>
                                            {{echantillon.echantillonId}}
                                        </td>
                                        <td>
                                            {{echantillon.bordereau.bordereauId}}
                                        </td>
                                        </tr>
                                        </ng-template>
                                        </p-table>
                            
                        </div>
            
                    </p-tabPanel>
                    <p-tabPanel header="Analyses">
                        <app-analyse [analyses]="analysess"></app-analyse>
                    </p-tabPanel>
                    <p-tabPanel header="Sample Flow">

                        <p-card>
                            <p-table #dt1 [value]="echantillons" dataKey="id" responsiveLayout="scroll">
                                <ng-template pTemplate="body" let-echantillon>
                                    <tr>
                                        <td>Sample ID:</td>
                                        <td>{{echantillon.echantillonId}}</td>
                                    </tr>
                                    <tr>
                                        <td>Receipt:</td>
                                        <td><button pButton label="{{echantillon.bordereau.bordereauCode}}" class="p-button-outlined mb-2" icon="pi pi-file-pdf" (click)="exportExistBordereau()" ></button></td>
                                    </tr>
                                    <tr>
                                        <td>Sended Date:</td>
                                        <td>{{echantillon.bordereau.dateEnvoi| date : 'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Received Date:</td>
                                        <td>{{echantillon.dateReception| date : 'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Analysed Date:</td>
                                        <td>{{echantillon.dateAnalyse| date : 'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Notes Geology:</td>
                                        <td>
                                            <span class="p-float-label">
                                            <textarea id="float-input" rows="5" cols="30" pInputTextarea [(ngModel)]="echantillon.notesGeologie"></textarea>
                                            
                                            </span>
                                            <button pButton label="Geology Notes" class="p-button-outlined mb-2" icon="pi pi-pencil" (click)="updateNoteGeologie()"></button>
                                        </td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <ng-template pTemplate="footer">
                            </ng-template>
                        </p-card>
                    </p-tabPanel>
                </p-tabView>
             
                
            </div>

            <!-- <p-dialog [(visible)]="updateNoteGeo" [style]="{width: '450px'}" header="Gisement Detail" [modal]="true" styleClass="p-fluid">
                <ng-template pTemplate="content" let-echantillon>
                    <div class="field">
                        <label for="libelle">Notes Research Center</label>
                        <textarea pInputTextarea [(ngModel)]="echantillon.notesGeologie" [rows]="5" [cols]="30" required ></textarea>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideModalUpdateNoteGeologie()"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateNoteGeologie()"></button>
                </ng-template> -->
            <!-- </p-dialog> -->

            