<div *ngIf="role1 === 'ADMIN'">
<p-table #dt1 [value]="users"  [rows]="50" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"  responsiveLayout="scroll">
        
    <ng-template pTemplate="caption" >
        <div class="flex justify-content-between flex-column sm:flex-row">
                <div class="flex gap-2">
                <!-- <button pButton label="Send to Archive" class="p-button-outlined mb-2" icon="pi pi-save" (click)="openDialogArchive()" [disabled]="buttonSendCondition()" *ngIf="!modeArchive"></button>
                <button pButton label="Export" class="p-button-outlined mb-2" icon="pi pi-file-excel" (click)="exportExcel()" ></button> -->
                </div>
                <div>
            <span class="p-input-icon-left mb-2">
                <i class="pi pi-search"></i> 
                <input pInputText type="text" #filter  placeholder="Search Keyword" class="w-full"/> 
            </span>
        </div>
        </div>
    </ng-template> 
    
    <ng-template pTemplate="header" >
        
        <tr>
            <th style="min-width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    First name
                </div>
            </th>
            <th style="min-width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    Last name
                </div>
            </th>
            <th style="min-width: 12rem">
                <div class="flex justify-content-between align-items-center">
                    Email
                </div>
            </th>
            <th style="min-width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    Role
                </div>
            </th>                    
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        
        <tr>
            <td>
                {{user.firstname}}
            </td>
            <td>
                {{user.lastname}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.role}}
            </td>
            
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info" (click)="updateUserRoleModal(user)" ></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUserModal(user)" ></button>
            </td>
            
            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No User/s found.</td>
        </tr>
    </ng-template>
</p-table>
</div>


<div *ngIf="role1 === 'ADMIN'">
<p-dialog [(visible)]="updateDialog" [style]="{width: '450px'}" header="Modify Role" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" let-user>
        
        <div class="field">
            <label for="secteur">User Role</label>
            <p-dropdown [(ngModel)]="currentUser.role!" inputId="secteur" [options]="role!" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div> 
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideUpdateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateUserRole(currentUser)"></button>
    </ng-template>
</p-dialog>
</div>

<div *ngIf="role1 === 'ADMIN'">
<p-dialog [(visible)]="deleteDialog" [style]="{width: '450px'}" header="Delete User" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" let-user>
       <div>
        Are u sure want to delete this user
       </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDeleteDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="deleteUser()"></button>
    </ng-template>
</p-dialog>
</div>