<div *ngIf="log2 === true" >
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <img src="\assets\layout\images\IMGBN78887cpg.png" alt="CPG logo" height="200">                
            <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-medium mb-3">Welcome</div>
                        <span class="text-600 font-medium">To SIGM Application</span>
                    </div>
                    <div>
                            
                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            
                        </div>
                        <button pButton type="submit" pRipple label="Log In" class="w-full p-3 text-xl" (click)="buttonA()"></button>
                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            
                        </div>
                        <button pButton type="submit" pRipple label="Register" class="w-full p-3 text-xl" (click)="buttonB()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<div *ngIf="log === true && log1 === false && log2 === false" >
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="\assets\layout\images\IMGBN78887cpg.png" alt="CPG logo" height="200">                
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome</div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>
                <div>
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email1" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" [(ngModel)]="user.email">

                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                    <p-password id="password1" [(ngModel)]="user.password" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        
                    </div>
                    <button pButton type="submit" pRipple label="Sign In" class="w-full p-3 text-xl" (click)="logIn()"></button>
                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        
                    </div>
                    <button pButton type="submit" pRipple label="Return To authentication" class="w-full p-3 text-xl" (click)="returnBack()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div *ngIf="log1 === true && log === false && log2 === false">
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <img src="\assets\layout\images\IMGBN78887cpg.png" alt="CPG logo" height="200">             
            <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-medium mb-3">Welcome</div>
                        <span class="text-600 font-medium">Register to continue</span>
                    </div>
                    <div>
                        <label for="firstname" class="block text-900 text-xl font-medium mb-2">First Name</label>
                        <input id="firstname" type="text" placeholder="First Name" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" [(ngModel)]="user.firstname">
                        <label for="lastname" class="block text-900 text-xl font-medium mb-2">Last Name</label>
                        <input id="lastname" type="text" placeholder="Last Name" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" [(ngModel)]="user.lastname">
                        <label for="email2" class="block text-900 font-medium text-xl mb-2">Email</label>
                        <input id="email2" type="text" placeholder="First Name" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" [(ngModel)]="user.email">
                        <label for="password2" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <p-password id="password2" [(ngModel)]="user.password" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            
                        </div>
                        <button pButton type="submit" pRipple label="Sign In" class="w-full p-3 text-xl" (click)="register()"></button>
                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            
                        </div>
                        <button pButton type="submit" pRipple label="Return To authentication" class="w-full p-3 text-xl" (click)="returnBack()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>