<p-toast></p-toast>
<app-detail-echantillon *ngIf="detailButton === true" [echantillon]="selectedEchantillon"></app-detail-echantillon>

<div class="card" *ngIf="detailButton === false">
    <p-table #dt1 [value]="resultatAnalysesList" [(selection)]="selectedechantillons" dataKey="echantillon.echantillonId" [rows]="50" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['geologie.couche.coucheCode']" responsiveLayout="scroll">
        
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <div class="flex gap-2">
                <button pButton label="Add" class="p-button-outlined mb-2" icon="pi pi-plus" (click)="openNew()" *ngIf="!modeArchive" ></button>
                <button pButton label="Export" class="p-button-outlined mb-2" icon="pi pi-file-excel" (click)="exportExcel()" ></button>
            </div>
            <div class="flex gap-2">
                <!-- <a href="C:\ReportSigm\bordereau1.pdf" target="_blank">
                    <button>Send To Receipt Management</button>
                </a> -->
                <button pButton label="Send" class="p-button-outlined mb-2" icon="pi pi-send" (click)="openSend()" [disabled]="buttonSendCondition()" *ngIf="!modeArchive"></button>
                <span class="p-input-icon-left mb-2">
                    
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                    
                </span>
            </div>
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem" *ngIf="!modeArchive">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="min-width: 4rem">
                    <div class="flex justify-content-between align-items-center">
                        Id
                    </div>
                </th>
                <th style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Geology / Layer
                    </div>
                </th>
                <th style="min-width: 4rem">
                    <div class="flex justify-content-between align-items-center">
                        Depth From
                    </div>
                </th>
                <th style="min-width: 4rem">
                    <div class="flex justify-content-between align-items-center">
                        Depth To
                    </div>
                </th>
                <th style="min-width: 4rem">
                    <div class="flex justify-content-between align-items-center">
                        Real Volume
                    </div>
                </th>
                <th style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Observation
                    </div>
                </th>
                <th style="min-width: 8rem">
                    <div class="flex justify-content-between align-items-center">
                        Sample Status
                    </div>
                </th>
                <th style="min-width: 8rem" *ngFor="let col of elementList">
                    <div class="flex justify-content-between align-items-center">
                        {{col}}
                    </div>
                </th>
                
               
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-resultatAnalyses>
            <tr>
                <td *ngIf="!modeArchive">
                <p-tableCheckbox [value]="resultatAnalyses" ></p-tableCheckbox>
                </td>
                <td>
                    {{resultatAnalyses.echantillon.echantillonId}}
                    <!-- {{echantillon.geologie.couche.coucheCode}} -->
                </td>
                <td>
                    {{resultatAnalyses.echantillon.geologie.couche.coucheCode}}
                    <!-- {{echantillon.geologie.couche.coucheCode}} -->
                </td>
                <td>
                    {{resultatAnalyses.echantillon.depthFrom}}
                    <!-- {{echantillon.depthFrom}} -->
                </td>
                <td>
                    {{resultatAnalyses.echantillon.depthTo}}
                    <!-- {{echantillon.depthTo}} -->
                </td>
                <td>
                    <!-- {{echantillon.observation}} -->
                    {{resultatAnalyses.echantillon.puissanceReelle}}
                </td>
                <td>
                    <!-- {{echantillon.observation}} -->
                    {{resultatAnalyses.echantillon.observation}}
                </td>

                <td>
                    <!-- {{echantillon.etatEchantillon}} -->
                    {{resultatAnalyses.echantillon.etatEchantillon}}
                </td>
                <td *ngFor="let col of elementList">
                    <div *ngFor="let row of resultatAnalyses.analyseList">
                    <div *ngIf="row.element.elementCode === col" >
                        {{row.valeurAnalyse}}
                    </div>
                    </div>
                </td>
                <!-- <td *ngFor="let col of resultatAnalyses.analyseList">
                    {{col.valeurAnalyse}}
                </td> -->
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editEchantillon(resultatAnalyses.echantillon)" *ngIf="!modeArchive"></button> 
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEchantillon(resultatAnalyses.echantillon)" *ngIf="!modeArchive"></button>
                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info" (click)="echantillonDetails(resultatAnalyses.echantillon)"></button>
                </td>
            </tr>
        </ng-template>
        
    </p-table>
</div>



<p-dialog [(visible)]="addDialog" [style]="{width: '450px'}" header="Echantillon Detail" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" let-echantillon>
        <div class="field">
            <label for="libelle">Geology / Layer</label>
            <p-dropdown [(ngModel)]="selectedGeology" inputId="geologie" [options]="geologies!" placeholder="Select" optionLabel="couche.coucheCode">
               
            </p-dropdown>
            <!-- <small class="p-error" *ngIf="submitted && !newEchantillon.etatEchantillon">Type is required.</small> -->
        </div>
        <div class="field">
            <label for="code">Depth From</label>
            <input type="text" pInputText id="code" [(ngModel)]="newEchantillon.depthFrom" required autofocus />
            <small class="p-error" *ngIf="submitted && !newEchantillon.depthFrom">Code is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Depth To</label>
            <input type="text" pInputText id="code" [(ngModel)]="newEchantillon.depthTo" required  />
            <small class="p-error" *ngIf="submitted && !newEchantillon.depthTo">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Real Volume</label>
            <input type="text" pInputText id="code" [(ngModel)]="newEchantillon.puissanceReelle" required  />
            <small class="p-error" *ngIf="submitted && !newEchantillon.depthTo">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Observation</label>
            <input type="text" pInputText id="code" [(ngModel)]="newEchantillon.observation" required  />
            <small class="p-error" *ngIf="submitted && !newEchantillon.observation">Libelle is required.</small>
        </div>
        
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog1()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="addEchantillon()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Gisement Detail" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" let-echantillon>
        <div class="field">
            <label for="libelle">Geology / Layer</label>
            <p-dropdown [(ngModel)]="currentEchantillon.geologie" inputId="geologie" [options]="geologies!" placeholder="Select" optionLabel="couche.coucheCode">
               
            </p-dropdown>
            <!-- <small class="p-error" *ngIf="submitted && !newEchantillon.etatEchantillon">Type is required.</small> -->
        </div>
        <div class="field">
            <label for="code">Depth From</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentEchantillon.depthFrom" required autofocus />
            <small class="p-error" *ngIf="submitted && !currentEchantillon.depthFrom">Code is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Depth To</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentEchantillon.depthTo" required  />
            <small class="p-error" *ngIf="submitted && !currentEchantillon.depthTo">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Real Volume</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentEchantillon.puissanceReelle" required  />
            <small class="p-error" *ngIf="submitted && !currentEchantillon.depthTo">Libelle is required.</small>
        </div>
        <div class="field">
            <label for="libelle">Observation</label>
            <input type="text" pInputText id="code" [(ngModel)]="currentEchantillon.observation" required  />
            <small class="p-error" *ngIf="submitted && !currentEchantillon.observation">Libelle is required.</small>
        </div>
        
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog2()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateEchantillon(currentEchantillon)"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="deleteDialog" [style]="{width: '450px'}" header="Gisement Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" let-gisement>
       <div>
        Are you sure want to delete this sample
       </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog3()"></button>
        <button pButton pRipple label="Deltee" icon="pi pi-check" class="p-button-text" (click)="eraseEchantillon()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="sendDialog" [style]="{width: '450px'}" header="Receipt Detail" [modal]="true" styleClass="p-fluid"  >
    <ng-template pTemplate="content" let-echantillon>
        
        <div  class="d-flex flex-column gap-2" style="display: flex !important;">
            <p-card >
                <ng-template pTemplate="header">
                    Asked Analysis
                </ng-template>
            <!-- <p-card subheader="Asked Analysis"> -->
                <p-checkbox name="groupname" value="Complete Analysis" label="Complete Analysis" [(ngModel)]="selectedAnalyses"></p-checkbox>
                <p-checkbox name="groupname" value="Particle Size Analysis" label="Particle Size Analysis" [(ngModel)]="selectedAnalyses"></p-checkbox>
                <p-checkbox name="groupname" value="Mineralogical Analysis" label="Mineralogical Analysis" [(ngModel)]="selectedAnalyses"></p-checkbox>
                <p-checkbox name="groupname" value="Other" label="Other" [(ngModel)]="selectedAnalyses"></p-checkbox>
            </p-card>
            <p-card subheader="Requirements">
                <textarea pInputTextarea [(ngModel)]="bordereau.exigences"></textarea>
            </p-card>
            <p-card subheader="Urgency">
                <p-radioButton name="groupname" value="Normal" label="Normal" [(ngModel)]="selectedUrgency"></p-radioButton>
                <p-radioButton name="groupname" value="Urgent" label="Urgent" [(ngModel)]="selectedUrgency"></p-radioButton>
                <p-radioButton name="groupname" value="Very Urgent" label="Very Urgent" [(ngModel)]="selectedUrgency"></p-radioButton>
            </p-card>
        </div>
        
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideSend()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="sendBordereau()"></button>
    </ng-template>
</p-dialog>